{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block body %}

<form action="/login" method="POST" class="container">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password" required>
    </div>
    {% if res|length!=0 %}
      <div class="alert alert-warning" role="alert">
          {{res}}
      </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="/register" class="btn btn-success" style="float: right;">Register</a>
</form>
{% endblock body %}